#formulario{
    width: 80%;
    margin: 0 auto;
    background:rgba(8, 117, 190, 0.555);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgba(8, 117, 190, 0.555); 
    
}
label{
    display: flex;
    float:right;
}
section>h2{
    text-align: center;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="checkbox"]
textarea,
select{
    width: 50%;
    display: grid;
    margin: 6px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
}
input[type="checkbox"]{
    width: 50%;
    align-self: center;
}
textarea{
    width: 50%;
    border-radius: 30px;
}
input[type="submit"]{
    background-color: lightblue;
    color: #131111;
    padding: 14px 10px;
    margin: 10px ;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 10%;
    float: right;
    
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
